@model TaskManagementSystem.Views.Layout
@Layout

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="~/css/LayoutStyleSheet.css"/>
</head>
<body>
    <div class="container">
        <h2>Welcome to TaskFlow</h2>
        <main>
            @RenderBody()
        </main>
    </div>
    
    <footer>
        <div class="row-align-items-start">
            <ul class="list-inline" id="footernav">
                <li class="list-inline-item"><a href="">Trust Center</a></li>
                <li class="list-inline-item"><a href="">Protocols</a></li>
                <li class="list-inline-item"><a href="">About Us</a></li>
                <li class="list-inline-item"><a href="">Privacy Policy</a></li>
            </ul>
        </div>
        <p class="copyright">&copy; 2025 TaskFlow. All rights reserved.</p>
    </footer>
</body>
</html>