@Layout

@{
    Layout = null;
    var profileLetters = ViewBag.ProfileLetters;
    var profileColor = ViewBag.ProfileColor;
    
    string destController = ViewBag.ReturnController != null ? ViewBag.ReturnController.ToString() : "Section";
    string destAction = ViewBag.ReturnAction != null ? ViewBag.ReturnAction.ToString() : "TaskFlow";
    
    var returnIdVal = ViewBag.ReturnId ?? ViewBag.ReturnUserId;
    
    object routeValues = returnIdVal != null ? new { userId = returnIdVal } : null;;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskFlow Dashboard</title>
    <link rel="stylesheet" href="~/css/TaskFlowLayoutStyleSheet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<nav class="top-bar">
    <a href="@Url.Action(destAction, destController, routeValues)" class="logo-link">
        <div class="logo">
            <span>📊 TaskFlow</span>
        </div>
    </a>
    
    <div class="bar-account-section">
        <div class="notification-container">
    
            <div class="notification-icon" onclick="toggleNotificationMenu()">
                <i class="fa-solid fa-bell"></i> <span id="notification-badge" class="notification-badge" style="display:none;">0</span>
            </div>

            <div id="notification-dropdown" class="notification-dropdown-menu">
        
                <div class="notification-header">
                    Bildirimler
                </div>
        
                <ul id="notification-list">
                    <li style="padding: 20px; text-align: center; color: #999;">
                        <i class="fa-solid fa-spinner fa-spin me-2"></i> Yükleniyor...
                    </li>
                </ul>

            </div>
        </div>
        
        <div class="account" style="background-color: @profileColor" onclick="window.location.href='/Account/Profile'">
            @profileLetters
        </div>
    </div>
</nav>

<main>
    @RenderBody()
</main>

<div id="accountMenu" class="popup-menu account-menu-style">
    <div class="account-header">
        <div class="account-name">İbrahim Kabadayı</div>
        <div class="account-email">ibrahim@example.com</div>
    </div>

    <ul>
        <li onclick="alert('Profil')">👤 Profil ve Görünürlük</li>
        <li onclick="alert('Hareketler')">📊 Hareketler</li>
        <li onclick="alert('Ayarlar')">⚙️ Ayarlar</li>
        <hr class="menu-divider">
        <li class="logout-item" onclick="window.location.href='/Logout'">🚪 Çıkış Yap</li>
    </ul>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.0/signalr.min.js"></script>
<script src="~/js/TaskFlowLayoutScript.js"></script>
</body>
</html>