<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="top-bar">
    <div class="logo">
        <span>📊 TaskFlow</span>
    </div>
    <div class="bar-account-section">
        <div style="cursor: pointer;" title="Notifications">🔔</div>
        <div class="account" onclick="AccountClick(event)">
            I
        </div>
    </div>
</nav>

<div class="section-header">
    <div class="section-header-left-side">
        <div class="section-title">
            Test
        </div>
    </div>
    
    
    <div class="section-header-right-side">
        <div class="project-users">
            <div class="user-icon" onclick="">
                A
            </div>
            <div class="user-icon" onclick="">
                B
            </div>
            <div class="user-icon" onclick="">
                C
            </div>
        </div>

        <div class="section-header-buttons">
            <div class="settings" onclick="">

            </div>
            <div class="share-button" onclick="">

            </div>
            <div class="change-background-button" onclick="">

            </div>
            <div class="leave-button" onclick="">

            </div>
        </div>
    </div>
</div>

<div class="task-groups-container">
    <div class="task-group">
        <div class="task-group-title" onclick="">
            
        </div>
        <div class="Task" onclick="">
            <div class="Task-Title">
                
            </div>
            <!-- This part must only be seen if task has an assigned user -->
            <div class="assigned-to-profile-icon" onclick="">
                
            </div>
            <!-- This part must only be seen if task has a desc -->
            <div class="task-desc-button" onclick="">
                
            </div>
        </div>
        <div class="Add-Task">
            Add Task
        </div>
    </div>
</div>
<div class="add-another-task-group">
    
</div>
<div class="dynamic-task-container">
    <div class="task-bar">
        <div class="task-priority-select">
            
        </div>
    </div>
    <div class="task-main-part">
        <div class="task-left-container">
            <div class="task-title-in-main">
                
            </div>
            <div class="created-by-user">
                
            </div>
            <div class="assigned-to-user">
                
            </div>
            <div class="created-date">
                
            </div>
            <div class="due-date">
                
            </div>
        </div>
        <div class="task-right-container">
            <div class="task-desc">
                
            </div>
        </div>
    </div>
</div>
<div class="dynamic-generalPurpose-container">
    
</div>
</body>
</html>