@page
@model TaskManagementSystem.Views.CreateAccount

@{
    Layout = "Layout";
    var email = ViewBag.Email as string;
    var userName = ViewBag.UserName as string;
}

<link rel="stylesheet" href="~/css/CreateAccountPageStyleSheet.css"/>

<p id="sign-in-text">Sign In</p>
<div class="Input-Area">
    <div class="Input-Row">
        <label for="name-Input" class="input-label">Name and Surname:</label><br>
        <input type="text" id="name-Input" class="txt-input" value="@userName">
    </div>
    <div class="Input-Row">
        <label for="Email-Input" class="input-label">Email:</label><br>
        <input type="text" id="Email-Input" class="txt-input" value="@email">
    </div>
</div>

<div class="privacy-text">
    <div class="information-container">
        <div class="information">
            i
        </div>
    </div>
    <div>
        <p id="information-text">This site is protected by reCAPTCHA and the
            Google<strong onclick=""> Privacy Policy </strong>and<strong onclick=""> Terms of Service </strong>apply</p>
    </div>
</div>

<div class="button-container">
    <button class="next-button" onclick="nextButtonClick()">Next</button>
</div>
<script src="~/js/CreateAccountPageScript.js"></script>