@page
@model TaskManagementSystem.Views.EmailCodeVerification

@{
    Layout = null;
    var email = ViewData["UserEmail"] as string;
}

<div class="arrow-and-email-container">
    <div class="back-arrow-container">
        <p class= "back-arrow" style="color:blue">
            ←
        </p>
    </div>
    <div class="email-container">
        <p class="email">@email</p>
    </div>
</div>
    
<p id="sign-in-text">Enter Email Code</p>
<div class="Input-Area">
    <div class="Input-Row">
        <label for="code-Input" class="input-label">Code:</label>
        <input type="text" id="code-Input" class="txt-input">
    </div>
</div>
    
<div class="button-container">
    <button class="send-again-button" onclick="SendEmailCodeAgain(@email)">Send Again</button>
    <button class="next-button" onclick="VerifyEmailCode(@email)">Next</button>
</div>

<script src="~/js/EmailVerificationScript.js"></script>