@page
@model TaskManagementSystem.Views.PasswordCreation

@{
    Layout = "Layout";
    var email = ViewData["Email"] as string;
    var name = ViewData["Name"] as string;
}

<div class="arrow-and-email-container">
    <div class="back-arrow-container">
        <p class= "back-arrow" style="color:blue" onclick="BackButtonClick()">
            ←
        </p>
    </div>
    <div class="email-container">
        <p class="email">@email</p>
    </div>
</div>

<p id="sign-in-text">Enter Password</p>
<div class="Input-Area">
    <div class="Input-Row">
        <label for="password" class="input-label" id="Password">Password:</label>
        <div class="input-wrapper">
            <input type="text" id="password" class="txt-input">
            <img src="~/lib" class="icon" alt="EyeOpened.ico" onclick="HidePassword(this)">
        </div>
    </div>
    <div class="Input-Row">
        <label for="password-again" class="input-label" id="Password-again">Password Again:</label>
        <div class="input-wrapper">
            <input type="text" id="password-again" class="txt-input">
            <img src="~/lib" class="icon" alt="EyeOpened.ico" onclick="HidePassword(this)">
        </div>
    </div>
</div>

<div class="button-container">
    <button class="next-button" onclick="ConfirmPassword(@name, @email)">Next</button>
</div>