@page
@model TaskManagementSystem.Views.SignIn

@{
    Layout = "Layout";
}
   
<link rel="stylesheet" href="~/css/SignInStyleSheet.css"/>

<h3 class="signin-title">Log In To Your Account</h3>

<div class="input-group">
    <label for="email-Input" class="input-label">Email</label>
    <i class="fa-solid fa-envelope input-icon"></i>
    <input type="email" id="email-Input" class="txt-input" placeholder="example@email.com">
</div>

<div class="input-group">
    <label for="password-Input" class="input-label">Password</label>
    <i class="fa-solid fa-lock input-icon"></i>
    <input type="password" id="password-Input" class="txt-input" placeholder="••••••••">
</div>
        
<div class="form-footer">
    <span onclick="PrivacyPolicy()" style="cursor:pointer; color:#5e6c84;">
        <i class="fa-solid fa-shield-halved"></i> Privacy Policy
    </span>
    <span class="forgot-password" onclick="ForgotPassword()">Forgot Password?</span>
</div>
        
<button class="btn-primary" onclick="SignIn()">
    Enter
</button>

<div class="create-account-box">
    Don't have an account?
    <span class="create-account-link" onclick="CreateAccount()">Create Account</span>
</div>

<script src="~/js/SignInScript.js"></script>