#sign-in-text{
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}
strong{
    color: #0ba1e1;
    cursor: pointer;
}

.input-label{
    color: black;
}
.Input-Row{
    padding: 10px 5px;
    margin: 5px;
}
.txt-input{
    border: 1px solid #ccc;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
}

.information-container{
    width: 5%;
    height: 10%;
}
.information {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: white;
    background: #0288d1;
    width: 100%;
    height: 4%;
}
#information-text{
    margin-left: 10px;
}
.privacy-text{
    display: flex;
    padding: 10px;
    font-size: 13px;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    margin-top: 10px;
}
.next-button{
    border: none;
    border-radius: 5px;
    background: #0ba1e1;
    color: white;
    padding: 10px;
    width: 20%;
    margin-right: 5px;
    cursor: pointer;
    font-size: 16px;
}