*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: #f5f5f5;
}

/* Main container */
.container{
    width: 100%;
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
    color: #0ba1e1;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.02em;
}

footer{
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 0;
    padding: 28px 10px;
    background-color: rgba(128, 128, 128, 1);
    line-height: 1.4;
}

.row-align-items-start{
    display: flex;
    justify-content: center;
}

footer a{
    text-decoration: none;
    color: white !important;
}

/* Primary Footer */
#footernav {
    margin-bottom:0;
    margin-left:-8px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    list-style: none;
}
#footernav > li {
    padding:0 4px;
    margin-right:0;
    margin-bottom:10px;
    border-right:1px solid white;
}
#footernav > li > a {
    padding:0 4px;
}
#footernav > li:last-child {
    border-right:none;
}

.copyright {
    margin-bottom:0;
}
