.arrow-and-email-container{
    display: flex;
    justify-content: left;
    margin-left: 10px;
    margin-bottom: 20px;
}

.back-arrow-container{
    padding-top: 10px;
    padding-right: 10px;
}

.email-container{
    padding-top: 13px;
}

.back-arrow{
    border: 1px solid transparent;
    font-size: 20px;
}

.back-arrow:hover{
    border: 1px solid rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 100%;
    font-size: 20px;
}

.email{
    font-size: 16px;
}

h2{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 25px;
    color: #0ba1e1;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -0.02em;
}

#sign-in-text{
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto Light', sans-serif;
}
strong{
    color: #0ba1e1;
    cursor: pointer;
}
.input-label{
    color: black;
}
.Input-Row{
    padding: 10px 5px;
    margin: 5px;
}

.input-wrapper{
    position: relative;
    display: flex;
    align-items: center;
}

.txt-input{
    border: 1px solid #ccc;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 35px 5px 5px;
}

.icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.button-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    margin-top: 10px;
}
.next-button{
    border: none;
    border-radius: 5px;
    background: #0ba1e1;
    color: white;
    padding: 10px;
    width: 20%;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
}